name: release
on:
  push:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

      - name: download latest release
        uses: robinraju/release-downloader@v1.8
        with:
          repository: ${{ github.repository }}
          tag: "latest"
          fileName: "db.sqlite3"

      - name: compute the release tag for yesterday
        run: |
          tag=v`date -d "yesterday" '+%Y.%m.%d'`
          echo "tag=$tag" >> $GITHUB_ENV
          sqlite3 db.sqlite3 .dump > dump.sql
          count=`sqlite3 db.sqlite3 < count.sql`
          echo \# `date -d "yesterday" +%Y-%m-%d` >> body.txt
          echo >> body.txt
          echo $count records in total. >> body.txt
          cat body.txt

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          body_path: body.txt
          tag_name: ${{ env.tag }}
          target_commitish: main
          files: |
            dump.sql
            db.sqlite3
